<section class="wrapper">
    <p>用户名：<input type="text" [formControl]="favoriteControl"></p>
    <p>没有绑定：<input type="text"></p>
    <p>双向绑定：<input type="text" [(ngModel)]="favoriteModel"></p>
    <button (click)="handleClick()">登陆</button>
    <p>双向绑定：{{favoriteModel}}</p>
    <form [formGroup]="formgroups">
        <label for="first-name">First Name</label>
        <input id="first-name" type="text" formControlName="firstName">
        <label for="last-name">Last Name</label>
        <input id="last-name" type="text" formControlName="lastName" />
    </form>
    <button (click)="handleHttp()">请求测试</button>
    <form [formGroup]="form">
        <label for="first-name">First Name</label>
        <input id="first-name" type="text" formControlName="fbFirst">
        <div formArrayName="aliases">

            <h2>Aliases</h2>
            <button (click)="addAlias()" type="button">+ Add another alias</button>

            <div *ngFor="let alias of aliases.controls; let i=index">
                <!-- The repeated alias template -->
                <label for="alias-{{ i }}">Alias:</label>
                <input id="alias-{{ i }}" type="text" [formControlName]="i">
            </div>
        </div>
    </form>
</section>